body {
  background: rgb(252, 233, 230);
}
.container {
  margin: 120px auto;
  max-width: 600px;
}
header {
  padding-bottom: 10px;
}
h1 {
  color: rgb(66, 33, 28);
  margin-top: 20px;
  text-align: center;
}
.form-container {
  padding: 30px;
  margin-bottom: 30px;
}
form {
  display: flex;
}
.hint {
  font-size: 15px;
  opacity: 0.4;
  padding-top: 10px;
  display: flex;
}
.input {
  width: 70%;
  border: 1px solid;
  border-radius: 10px;
  padding: 15px;
}
.search-button {
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  background: rgb(66, 33, 28);
  color: rgb(252, 233, 230);
  margin-left: 10px;
  width: 100px;
}
.tip {
  background-color: rgb(252, 233, 230);
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 60, 0.3);
  border-left: 3px solid rgb(66, 33, 28);
  padding: 20px;
  line-height: 2;
}
.tip strong {
  color: rgb(66, 33, 28);
  font-size: 15px;
}
.hidden {
  display: none;
}
footer {
  text-align: center;
  color: rgba(66, 33, 28, 0.8);
  margin-top: 30px;
}
a {
  color: rgb(4, 16, 82);
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
}
/*
Source - https://stackoverflow.com/a
Posted by Mr. Alien, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-25, License - CC BY-SA 4.0
*/

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
