body {
  background: rgb(210, 250, 210);
}
h1 {
  text-align: center;
  color: rgb(25, 48, 25);
  padding-top: 50px;
}
footer {
  text-align: center;
  color: rgba(25, 48, 25, 0.4);
}
a {
  color: salmon;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  text-decoration: dotted;
}
